/* html {
  box-sizing: border-box;
} */

/* *,
*::before,
*::after {
  box-sizing: border-box;
} */

:root {
  --primary-text-color: #757575;
  --title-color: #212121;
  --primery-white-color: #ffffff;
  --bg-focus-hover-blue: #2196f3;
}

body {
  background-color: var(--primery-white-color);
  color: var(--primary-text-color);
  margin: 0%;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, sans-serif;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.03em;
}
h2 {
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/*  exclude point */
.list {
  list-style: none;
}

/* logo color */

.logo {
  color: #000000;
  font-family: Raleway, sans-serif;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.logo-text {
  color: var(--bg-focus-hover-blue);
}

.logo:hover,
.logo:focus {
  color: var(--bg-focus-hover-blue);
}

/* color nav heder site-nav */

.site-nav .link {
  color: var(--title-color);

  font-weight: 500;

  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--bg-focus-hover-blue);
}

.site-nav .link.current {
  color: var(--bg-focus-hover-blue);
}

/* Connect */
.connect-nav a {
  color: #757575;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.connect-nav .mail :hover,
.connect-nav .mail :focus {
  color: var(--bg-focus-hover-blue);
}

/* hero */
.hero {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
}
.hero {
  display: inline-block;
  background: #2f303a;
}

.hero .title {
  color: var(--primery-white-color);
}

.baton {
  color: var(--primery-white-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
}

.baton {
  display: inline-block;
  background-color: aqua;
}
.cont {
  display: block;
  background-color: aqua;
  padding: 23, 32;
}
/* section Чем мы занимаемся */

.selection .name {
  color: var(--title-color);

  font-weight: 700;
  line-height: 1.14;
}

/* наша команда */

.team .name {
  color: var(--title-color);
}

/* footer */

.footer {
  background-color: #2f303a;
}

.footer .logo {
  color: var(--primery-white-color);
}

.mail-footer a {
  color: rgba(255, 255, 255, 0.6);
}

.mail-footer a:hover,
.mail-footer a:focus {
  color: var(--bg-focus-hover-blue);
}
.footer {
  color: var(--primery-white-color);
}
.numer-footer a {
  color: rgba(255, 255, 255, 0.6);
}

/* Портфолио */

.examples .title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.examples {
  font-size: 16px;
  line-height: 1.9;
}

.btn-portfolio {
  color: #212121;
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
}
.btn-portfolio:hover,
.btn-portfolio:focus {
  color: #f5f4fa;
  background-color: var(--bg-focus-hover-blue);
}
